.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 80%;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-top: 0;
  color: #05204a;
}

form input,
button {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "Abel", sans-serif;
  width: 100%;
  text-align: center;
  max-width: 75%;
  padding: 0.5rem;
  box-sizing: border-box;
}

form input {
  background-color: white;
  border: solid 1px #05204a;
}

form button {
  background-color: #05204a;
  color: #fbfcff;
  border: solid 1px #05204a;
  text-transform: uppercase;
}

form input:focus {
  border-width: 2px;
}

.error {
  color: red;
}

.faded {
  color: grey;
}
