%button {
  background-color: $primary-color;
  color: $light-color;
  border: solid 1px $primary-color;
  text-transform: uppercase;
  padding: 8px 20px;

  &:hover {
    background-color: lighten($primary-color, 20);
  }
}
