%button {
  width: 20%;
  height: 50%;
  align-self: center;
  background: $primary-color;
  color: $light-color;
  padding: 0.5rem 1rem;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    background: $light-color;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}
