@import "config";
@import "buttons";

/* latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v21/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtM.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Abel Regular"), local("Abel-Regular"),
    url(https://fonts.gstatic.com/s/abel/v10/MwQ5bhbm2POE2V9BPQ.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"),
    url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-color;
}

.app {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Playfair Display";
  font-weight: 800;
  font-size: 48px;
  text-align: center;
  margin-top: 0;
  color: $primary-color;
}

a {
  text-decoration: none;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 80%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input,
    button {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-family: "Abel", sans-serif;
      width: 100%;
      text-align: center;
      max-width: 75%;
      padding: 0.5rem;
      box-sizing: border-box;
    }

    button {
      @extend %button;
    }

    input {
      background-color: $light-color;
      border: solid 1px $primary-color;
    }

    input:focus {
      border-width: 2px;
    }
  }
}

.sidenav {
  display: block;
  position: fixed;
  background-color: $primary-color;
  width: 100%;

  .header {
    display: flex;
    color: $light-color;
    align-items: center;
    svg {
      font-size: 1.5rem;
      margin-right: 1rem;
    }
    padding-left: 1rem;
  }
  h1 {
    margin: 0;
    text-align: left;
    font-size: 1.5rem;
    color: $light-color;
  }

  ul.navClosed {
    display: none;
  }

  ul {
    display: block;
    list-style: none;
    padding: 0 0 0 1rem;
    margin: 0;
    li {
      border-top: 1px solid $light-color;
    }
    li a {
      color: $primary-color;
      font-family: "Abel", sans-serif;
      text-transform: uppercase;
      font-size: 30px;
      line-height: 1.6;
      color: $light-color;
    }

    li a:hover {
      color: $light-color;
      background-color: $primary-color;
    }
  }
}

.home-screen {
  margin-top: 50px;
  h2 {
    font-family: "Roboto Condensed";
    padding: 0 0.5rem;
    display: none;
  }
  border-left: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
}

.create-post {
  display: flex;
  margin-bottom: 1rem;
  padding: 0 0.5rem;

  input {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }

  button {
    @extend %button;
    font-weight: bold;
    float: right;
  }
}

.post-feed {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  .post {
    border-bottom: 1px solid lightgrey;
    padding: 0.5rem;
  }
  .post-date {
    color: grey;
    float: right;
    font-size: 0.8rem;
  }
  .post-author {
    font-weight: bold;
  }
}

@media only screen and (min-width: 768px) {
  .sidenav {
    display: block;
    position: relative;
    background-color: $light-color;

    width: 25%;
    text-align: left;
    padding: 1rem 4rem;

    svg {
      display: none;
    }

    h1 {
      font-size: 40px;
      color: $primary-color;
      text-align: left;
    }

    ul {
      li {
        a {
          color: $primary-color;
        }
      }
    }

    ul.navClosed {
      display: block;
    }
  }

  .feed {
    width: 50%;
  }

  .home-screen {
    margin: 0;
    h2 {
      display: block;
    }
  }
}

.error {
  color: red;
}

.faded {
  color: lighten(black, 50);
  text-align: center;
}
