@import "config";
@import "buttons";

/* latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v21/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtM.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Abel Regular"), local("Abel-Regular"),
    url(https://fonts.gstatic.com/s/abel/v10/MwQ5bhbm2POE2V9BPQ.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"),
    url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

a {
  color: $primary-color;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-color;
  font-family: "Roboto", sans-serif;
}

.app {
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

.sidenav {
  background-color: $primary-color;
  padding: 1rem;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      margin-top: 1rem;
    }
    li a {
      text-decoration: none;
      font-family: "Roboto Condensed";
      text-transform: uppercase;
      color: $light-color;
      font-size: 1.5rem;
      display: flex;
      width: 100%;
      align-items: center;
    }
    li:hover {
      background-color: $light-color;
      a {
        color: $primary-color;
      }
      a svg {
        color: $primary-color;
      }
    }
    .unread-notifications {
      font-size: 0.9rem;
      background-color: red;
      border: 1px solid white;
      display: flex;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 1.5rem;
      align-items: center;
      justify-content: center;
      margin-left: 0.5rem;
      font-family: "Roboto Condensed";
      font-weight: bold;
    }
  }
  ul.navClosed {
    display: none;
  }
  svg {
    font-size: 1.5rem;
    color: $light-color;
    margin-right: 1rem;
  }
}

.post-actions {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.post-like-button,
.comment-like-button,
.post-delete-button {
  display: flex;
  background: none;
  border: none;
  align-items: center;
  padding: 0;
}

.post-delete-button {
  margin-left: auto;
}
.comment-feed {
  .comment {
    border-left: 1px solid lightgrey;
    padding: 1rem 0 0 1rem;
    .comment-author {
      font-weight: bold;
    }
    .comment-date {
      float: right;
      color: grey;
    }
  }
}

.create-comment {
  input {
    width: 80%;
    background: none;
    border: none;
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  button {
    @extend %button;
  }
}

.notification-screen,
.home-screen,
.single-post-screen {
  width: 100%;
  .header {
    background-color: $primary-color;
    color: $light-color;
  }
}

.header {
  h2 {
    display: none;
    margin-bottom: 0;
  }
}

.home-screen {
  .header {
    background-color: $primary-color;
    color: $light-color;
    padding: 1rem;
    .create-post {
      display: flex;
      width: 100%;
      background-color: $light-color;
      input {
        width: 80%;
        color: $primary-color;
        border: none;
        font-size: 1.2rem;
        padding: 1rem;
      }
      button {
        width: 20%;
        text-transform: uppercase;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: bold;
        padding: 1rem;
        background: none;
        border: none;
        border-left: 1px solid lightgrey;
        color: $primary-color;
        &:hover {
          background-color: $primary-color;
          color: $light-color;
          border: 1px solid $light-color;
        }
      }
    }
  }
}

.notification-feed,
.post-feed {
  overflow-y: scroll;
  max-height: 100%;
}

.login-screen {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  h1 {
    font-family: "Playfair Display";
    color: $primary-color;
    font-size: 2.5rem;
    text-align: center;
  }

  input {
    background: none;
    border: 1px solid $primary-color;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
  }

  button {
    background-color: $primary-color;
    color: $light-color;
    border: none;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .faded {
    color: grey;
  }
}

.post {
  border-top: 1px solid lightgrey;
  padding: 1rem;
  .post-body {
    overflow-wrap: break-word;
  }
  .post-date {
    float: right;
    color: grey;
  }
  .post-author {
    font-weight: bold;
  }
}

.notification-screen {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      background: none;
      border: 1px solid $primary-color;
      font-family: "Roboto Condensed", sans-serif;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 1rem;
      margin-bottom: 1rem;
    }
    button:hover {
      background-color: $primary-color;
      color: $light-color;
    }
  }
}

.notification {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 1rem 0.5rem;
  font-size: 0.9rem;

  .notification-icon {
    margin-right: 1rem;
  }
  .notification-date {
    margin-left: auto;
    color: grey;
  }
}

.notification-unread {
  font-weight: bold;
}

@media only screen and (min-width: 1000px) {
  #root {
    display: flex;
    justify-content: center;
  }
  .app {
    display: flex;
    justify-content: center;
    width: 1000px;
  }
  .sidenav {
    .toggleNav {
      display: none;
    }
    ul.navClosed {
      display: block;
    }
  }
  .header {
    padding: 1rem 1rem 1rem 0 !important;
    h2 {
      display: block;
      margin: 0;
    }
  }
  .home-screen .header h2 {
    margin-bottom: 1rem;
  }
}
