@import "config";
@import "buttons";

/* latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v21/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtM.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Abel Regular"), local("Abel-Regular"),
    url(https://fonts.gstatic.com/s/abel/v10/MwQ5bhbm2POE2V9BPQ.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"),
    url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-color;
  font-family: "Roboto", sans-serif;
}

.app {
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

.sidenav {
  border-right: 1px solid lightgrey;
  background-color: $primary-color;
  padding: 1rem;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      padding-top: 1rem;
    }
    li a {
      text-decoration: none;
      font-family: "Roboto Condensed";
      text-transform: uppercase;
      color: $light-color;
      font-size: 1.5rem;
    }
  }
  ul.navClosed {
    display: none;
  }
  svg {
    font-size: 1.5rem;
    color: $light-color;
  }
}

.post-actions {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.post-like-button,
.comment-like-button {
  display: flex;
  background: none;
  border: none;
  align-items: center;
}

.notification-screen,
.home-screen {
  width: 100%;
  padding: 1rem;
}

.login-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post {
  border-top: 1px solid lightgrey;
  padding: 1rem 0;
  .post-body {
    overflow-wrap: break-word;
  }
  .post-date {
    float: right;
    color: grey;
  }
  .post-author {
    font-weight: bold;
  }
}

.notification {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  .notification-date {
    margin-left: auto;
    color: grey;
  }
}

.create-post {
  display: flex;
  //border: 1px solid lightgrey;
  input {
    width: 100%;
    background: none;
    border: none;
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  button {
    float: right;
    background: none;
    border: none;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

@media only screen and (min-width: 1000px) {
  #root {
    display: flex;
    justify-content: center;
  }
  .app {
    display: flex;
    justify-content: center;
    width: 1000px;
  }
}
